<div class="container-fluid content-div">

    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Finger Tapping</li>
            </ol>
        </div>
    </div>

    <!-- Chart Display row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Finger Tapping Graph

                        <span class="pull-right">
                            <label class="label label-success card-info-label">Right Hand Average: {{averageTaps.rightHand}} Taps</label>
                            <label class="label label-success card-info-label">Left Hand Average: {{averageTaps.leftHand}} Taps</label>
                        </span>
                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="fingerTapping" width="400" height="100px"></canvas>
                </div>
            </div>

        </div>
    </div>

    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">

            {{#if activitiesData}}

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-info-outline">
                            <div class="card-block white-background" style="min-height: 305px;">
                                Select Activity:
                                <select id="selectedActivity" class="form-control" onchange="displayActivity();">
                                    <option value="null" selected>Select An Activity</option>
                                    {{# each fingerTapping as |tapValue tapKey|}}
                                        <option value="{{tapKey}}">Activity - {{tapValue.CreatedAt}}</option>
                                    {{/each}}
                                </select>


                                <div class="row">
                                    <div id="activityDetailDiv" class="padding-10">
                                        <div id="messageDiv" class="alert alert-info hide" role="alert">
                                            <strong>Heads Up!</strong> Please select an Activity first!.
                                        </div>

                                        <ul id="activityInfoList" class="list-group list-group-flush hide">
                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Patient Pin:</span>
                                                <span id="patientPinValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Time To Tap (s):</span>
                                                <span id="timeToTapValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Right-Hand Taps:</span>
                                                <span id="rightHandTapValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Left-Hand Taps:</span>
                                                <span id="leftHandTapValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Date Taken:</span>
                                                <span id="createdAtValue"></span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="activityDetailGraphDiv" class="col-sm-6 hide">
                        <div class="card card-info-outline">
                            <div class="card-block white-background">
                                <canvas id="fingerTappingActivityGraph" height="93px" width="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            {{else}}
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card card-warning-outline">
                            <div class="card-block white-background">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Heads up!</h4>
                                    <p>
                                        It seems that there are no finger-tapping activity taken by this patient. Please make sure that the
                                        patients take their assigned task to have better result.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {{/if}}
        </div>
    </div>

</div>

<script>
    window.taps = JSON.parse('{{{ chartData }}}');
    var fingerTappingActivityGraph;
    var activitiesData = '{{{activitiesData}}}';

    if (activitiesData) {
        activitiesData = JSON.parse(activitiesData);
    }

    function displayActivity(){
        var selectedActivityKey = $('#selectedActivity').val();

        if (selectedActivityKey != 'null'){
            $('#messageDiv').addClass('hide');
            $('#activityInfoList').removeClass('hide');
            $('#activityDetailGraphDiv').removeClass('hide');

            var selectedActivity = activitiesData[selectedActivityKey];
            displayActivityDetailGraph(selectedActivity);
            setActivityPropertyValues(selectedActivity);

        } else {
            $('#messageDiv').removeClass('hide');
            $('#activityInfoList').addClass('hide');
            $('#activityDetailGraphDiv').addClass('hide');
            clearActivityPropertyValues();
        }
    }

    function setActivityPropertyValues(selectedActivity){
        $('#patientPinValue').html(selectedActivity.PatientPinFK);
        $('#timeToTapValue').html(selectedActivity.TimeToTap);
        $('#rightHandTapValue').html(selectedActivity.result.right);
        $('#leftHandTapValue').html(selectedActivity.result.left);
        $('#createdAtValue').html(selectedActivity.CreatedAt);
    }

    function clearActivityPropertyValues(){
        $('#patientPinValue').html("");
        $('#timeToTapValue').html("");
        $('#rightHandTapValue').html("");
        $('#leftHandTapValue').html("");
        $('#createdAtValue').html("");
    }

    function displayActivityDetailGraph(selectedActivity){
        if (fingerTappingActivityGraph) {

            // update the datasets of data for the chart and update the chart
            fingerTappingActivityGraph.config.data.datasets = getUpdatedGraphDataSets(selectedActivity);
            fingerTappingActivityGraph.update();
        } else {
            // create new chart instance
            var canvas = document.getElementById("fingerTappingActivityGraph").getContext('2d');
            fingerTappingActivityGraph = new Chart(canvas, {
                type: 'bar',
                data: {
                    labels: [selectedActivity.CreatedAt],
                    datasets: getUpdatedGraphDataSets(selectedActivity)
                },
                options:{
                    scales: {
                        xAxes:[
                            {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Activity',
                                    fontStyle: "bold"
                                }
                            }
                        ],
                        yAxes: [
                            {

                                type: 'linear',
                                position: 'left',
                                ticks: {
                                    max: 100,
                                    min: 0,
                                    stepSize: 10
                                },
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'No. Of Taps',
                                    fontStyle: "bold"
                                }
                            }

                        ]
                    }
                }
            });
        }
    }

    function getUpdatedGraphDataSets(selectedActivity){
        return [
            {
                label: 'Right-Hand',
                backgroundColor: "#E74C3C",
                data: [selectedActivity.result.right]
            },
            {
                label: 'Left-Hand',
                backgroundColor: "#2C3E50",
                data: [selectedActivity.result.left]
            }
        ];
    }
</script>
<script src="/static/script/fingertapping.js" defer></script>