<div class="container-fluid content-div">

    <br/>
    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Finger Tapping</li>
            </ol>
        </div>
    </div>

    <br />
    <!-- Chart Display row -->
    <div class="row">
        <div class="col-md-12">
            // TODO -- display the aggregate chart here
        </div>
    </div>
    <br />

    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-6">
                Select Activity:
                <select id="selectActivity" class="form-control" onchange="displayActivityDetail()">
                    <option selected>Select An Activity</option>
                    {{# each fingerTapping as |tapValue tapKey|}}
                        <option value="{{tapValue.id}}">Activity - {{tapValue.CreatedAt}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Activity Detail Column -->
            <div class="col-md-6"></div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function displayActivityDetail(){
        //var selectedActivityId = document.getElementById('selectActivity').value;

        var selectedActivityId = $('#selectActivity').val();
        //alert('test: '+selectedActivityId);

    }

</script>