<div class="container-fluid content-div">

    <br/>
    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Finger Tapping</li>
            </ol>
        </div>
    </div>

    <br />
    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">
            {{# each fingerTapping as |tapValue tapKey|}}
                <p>{{tapValue.result}}</p>
            {{/each}}
        </div>
    </div>


</div>