<div class="container-fluid content-div">

    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Finger Tapping</li>
            </ol>
        </div>
    </div>

    <!-- Chart Display row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Finger Tapping Graph

                        <span class="pull-right">
                            <label class="label label-success card-info-label">Right Hand Average: {{averageTaps.rightHand}} Taps</label>
                            <label class="label label-success card-info-label">Left Hand Average: {{averageTaps.leftHand}} Taps</label>
                        </span>
                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="fingerTapping" width="400" height="100px"></canvas>
                </div>
            </div>

        </div>
    </div>

    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">

            {{#if activitiesData}}

                <div class="card card-default-outline">
                    <div class="card-block white-background">
                        <div class="col-sm-6">
                            Select Activity:
                            <select id="selectedActivity" class="form-control" onchange="displayActivity();">
                                <option value="null" selected>Select An Activity</option>
                                {{# each fingerTapping as |tapValue tapKey|}}
                                    <option value="{{tapValue.id}}">Activity - {{tapValue.CreatedAt}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div id="activityDetailDiv" class="col-sm-6 text-hide">
                            <p class="text-justify">Right-Hand Taps: <span id="rightHandTaps"></span></p>
                            <p class="text-justify">Left-Hand Taps: <span id="leftHandTaps"></span></p>
                        </div>
                    </div>
                </div>

            {{else}}

                <div class="card card-default-outline">
                    <div class="card-block white-background">
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">Heads up!</h4>
                            <p>
                                It seems that there are no finger-tapping task taken by this patient. Please make sure that the
                                patients take their assigned task to have better result.
                            </p>
                        </div>
                    </div>
                </div>

            {{/if}}

        </div>
    </div>

</div>

<script>
    window.taps = JSON.parse('{{{ chartData }}}');
    var activitiesData = JSON.parse('{{{activitiesData}}}');

    function displayActivity(){
        var selectedActivityId = $('#selectedActivity').val();

        if (selectedActivityId == 'null'){

            $('#activityDetailDiv').addClass('text-hide');
        } else {

            $('#activityDetailDiv').removeClass('text-hide');
            var selectedActivity = getSelectedActivityDetail(selectedActivityId);

            if (selectedActivity != null){
                $('#rightHandTaps').html(selectedActivity.result.right);
                $('#leftHandTaps').html(selectedActivity.result.left);
            }
        }
    }

    function getSelectedActivityDetail(selectedActivityId){
        var foundActivity = null;

        activitiesData.forEach(function(activity){

            if (activity.id == selectedActivityId) {
                foundActivity =  activity;
            }
        });

        return foundActivity;
    }
</script>
<script src="/static/script/fingertapping.js" defer></script>