<div class="container-fluid content-div">

    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}">Trial: {{breadCrumbData.Name}}</a></li>
                <li><a href="/patient/tasks/{{breadCrumbData.PatientPin}}">Patient: {{breadCrumbData.PatientPin}}</a></li>
                <li class="active">Flanker Test</li>
            </ol>
        </div>
    </div>

    <!-- Chart Display row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Flanker Test Graph

                        <span class="pull-right">
                            <label class="label label-success card-info-label">
                                Average Accuracy / Activity : {{averageAccuracy}} %
                            </label>
                        </span>
                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="flankerTestGraph" width="400" height="100px"></canvas>
                </div>
            </div>

        </div>
    </div>

    <!-- Activities Row -->
    <div class="row">
        <div class="col-md-12">

            {{#if flankerTestActivitiesData}}

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card card-info-outline">
                            <div class="card-block white-background" style="min-height: 305px;">
                                Select Activity:
                                <select id="selectedActivity" class="form-control">
                                    <option value="null" selected>Select An Activity</option>
                                    {{# each flankerTestListData as |testValue testKey|}}
                                        <option value="{{testKey}}">Activity - {{testValue.CreatedAt}}</option>
                                    {{/each}}
                                </select>

                                <div class="row">
                                    <div id="activityDetailDiv" class="padding-10">

                                        <div id="messageDiv" class="alert alert-info hide" role="alert">
                                            <strong>Heads Up!</strong> Please select an Activity first!.
                                        </div>

                                        <ul id="activityInfoList" class="list-group list-group-flush hide">
                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Patient Pin:</span>
                                                <span id="patientPinValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Time Taken to Complete (s):</span>
                                                <span id="timeToCompleteValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Accuracy (%):</span>
                                                <span id="accuracyValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Max Level Reached:</span>
                                                <span id="maxLevelValue"></span>
                                            </li>

                                            <li class="list-group-item">
                                                <span class="card-list-item-bold">Date Taken:</span>
                                                <span id="createdAtValue"></span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="activityDetailGraphDiv" class="col-sm-6 hide">
                        <div class="card card-info-outline">
                            <div class="card-block white-background">
                                <canvas id="flankerTestActivityGraph" height="93px" width="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            {{else}}
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card card-warning-outline">
                            <div class="card-block white-background">
                                <div class="alert alert-info" role="alert">
                                    <h4 class="alert-heading">Heads up!</h4>
                                    <p>
                                        It seems that there are no Flanker Test Task taken by this patient. Please make sure that the
                                        patients take their assigned task to have better result.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {{/if}}

        </div>
    </div>

</div>

<script type="text/javascript">
    window.flankerTests = JSON.parse('{{{chartData}}}');

    var flankerTestActivityGraph;
    var activitiesData = '{{{flankerTestActivitiesData}}}';

    if (activitiesData) {
        activitiesData = JSON.parse(activitiesData);
    }
</script>
<script src="/static/script/flankertest.js" defer></script>