<div class="container-fluid">
    <br>
    <ol class="breadcrumb">
        <li>
            <a href="/">
                Dashboard
            </a>
        </li>

        <li>
            <a href="/trial/{{ trial.TrialId }}">
                Trial: {{ trial.Name }}
            </a>
        </li>
        <li class="active">
            Patient: {{ patient.PatientPin }}
        </li>
    </ol>

    <!-- Pattern Comparison & Finger Tapping Row -->
    <div class="row">
        <!-- Pattern Comparison Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Pattern Comparison

                        <span class="pull-right">
                            <a href="/patient/{{patient.PatientPin}}/task/pattern-comparison" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="patternComparison" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>

        <!-- Finger Tapping Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Finger Tapping

                        <span class="pull-right">
                            <a href="/patient/{{patient.PatientPin}}/task/finger-tapping" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="fingerTapping" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Spatial Span & Flanker Test Row -->
    <div class="row">
        <!-- Spatial Span Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Spatial Span

                        <span class="pull-right">
                            <a href="/patient/{{patient.PatientPin}}/task/spatial-span" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="spatialSpanGraph" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>

        <!-- Flanker Test Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Flanker Test

                        <span class="pull-right">
                            <a href="/patient/{{patient.PatientPin}}/task/flanker-test" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="flankerTestGraph" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Survey Graph Row -->
     <div class="row">
        <div class="col-sm-12">
             <div id="chartCanvasDiv" class="card">
                <div>
                    <span class="pull-right">

                        <a href ="/patient/survey-detail/{{ patient.PatientPin }}"  class="btn btn-primary btn-sm" >
                           <i class="fa fa-list-alt"></i>
                            View Detail
                        </a>
                    </span>
               </div>
              <br>
              <canvas id="complianceChartSummary" width="400px" height="100px"></canvas>
            </div>
        </div>
    </div>

</div>

{{> remember-patient-pin}}

<script>
    window.dates = JSON.parse('{{{ datesJson }}}');
    window.taps = JSON.parse('{{{ tapsJson }}}');
    window.spatialSpans = JSON.parse('{{{spatialJson}}}');
    window.flankerTests = JSON.parse('{{{flankerTests}}}');
</script>

<script src="/static/script/epilepsypatient.js" defer></script>
<script src="/static/script/patterncomparision.js" defer></script>
<script src="/static/script/fingertapping.js" defer></script>
<script src="/static/script/spatialspan.js" defer></script>
<script src="/static/script/flankertest.js" defer></script>

