<div class="container-fluid content-div">

    <!-- Breadcrumb Row -->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/trial/{{breadCrumbData.TrialId}}/dashboard">Trial: {{breadCrumbData.Name}}</a></li>
                <li class="active">Patient: {{breadCrumbData.PatientPin}}</li>
            </ol>
        </div>
    </div>

    <!-- Survey Graph Row -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Activity Compliance

                        <span class="pull-right">
                            <a href ="/patient/{{breadCrumbData.PatientPin}}/task/survey-compliance-detail"  class="btn btn-primary btn-sm" >
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="complianceGraph" width="400" height="100px"></canvas>
                </div>
            </div>

        </div>
    </div>

    <!-- Pattern Comparison & Finger Tapping Row -->
    <div class="row">
        <!-- Pattern Comparison Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Pattern Comparison

                        <span class="pull-right">
                            <a href="/patient/{{breadCrumbData.PatientPin}}/task/pattern-comparison" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="patternComparisonGraph" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>

        <!-- Finger Tapping Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Finger Tapping

                        <span class="pull-right">
                            <a href="/patient/{{breadCrumbData.PatientPin}}/task/finger-tapping" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="fingerTapping" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />

    <!-- Spatial Span & Flanker Test Row -->
    <div class="row">
        <!-- Spatial Span Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Spatial Span

                        <span class="pull-right">
                            <a href="/patient/{{breadCrumbData.PatientPin}}/task/spatial-span" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="spatialSpanGraph" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>

        <!-- Flanker Test Column -->
        <div class="col-md-6">
            <div class="card card-info-outline">
                <div class="card-header white-background">
                    <h5>
                        Flanker Test

                        <span class="pull-right">
                            <a href="/patient/{{breadCrumbData.PatientPin}}/task/flanker-test" class="btn btn-sm btn-primary">
                                <i class="fa fa-list-alt"></i>
                                View Detail
                            </a>
                        </span>

                    </h5>
                </div>
                <div class="card-block white-background">
                    <canvas id="flankerTestGraph" width="200" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />

</div>

<script type="text/javascript">
    window.complianceChartData = JSON.parse('{{{ complianceChartData }}}');
    window.patternComparisons = JSON.parse('{{{ patternComparisonChartData }}}');
    window.taps = JSON.parse('{{{fingerTappingChartData}}}');
    window.spatialSpans = JSON.parse('{{{spatialSpanChartData}}}');
    window.flankerTests = JSON.parse('{{{flankerTestChartData}}}');
</script>
<script src="/static/script/epilepsypatient.js" defer></script>
<script src="/static/script/patterncomparision.js" defer></script>
<script src="/static/script/fingertapping.js" defer></script>
<script src="/static/script/spatialspan.js" defer></script>
<script src="/static/script/flankertest.js" defer></script>